<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<center><h1 style="color: aqua"> Your contacts: </h1></center>

<div th:each="contact : ${print_form}">
    <span th:text="${ contact.getName() + contact.getSurname() + contact.getPhoneNum()}"></span>
    <br/>
</div>
<br/>
<div th:each="contact : ${print_form}">
    <span th:text="${ contact.toString()}"></span>

    <br/>
</div>

<br/>
<button><a href="/"> Back to first page </a></button>

</body>
</html>